:root{
    /* Color-body */
    --color--background: #F2F2F2;

    /* Color */
    --color-primary: #00596B;
    --color-secondary: #055B5C;
    --color-text1: #001219;
    --color-text2: #265A4A;

    /* Typography */
    --font-family1: 'Playfair Display', serif;
    --font-family2: 'Lato', sans-serif;
}
body{
    background-color: var(--color--background);
}

/* header and nav */

header{
    margin: 16px auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--color-primary);
}
.logo img{
    width: 80px;
    height: auto;
    margin-left: 8px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-right: 30px;
    gap: 20px;
    font-style: var(--font-family1);
}
nav li{
    flex: 1 1 auto;
}
nav a{
    display: block;
    color: var(--color-text2);
    text-decoration: none;
    padding: 8px 20px;
    font-size: 18px;
}
.nav-btn{
    color: var(--color-secondary);
    background-color: var(--color--background);
    border-radius: 5px;
    transition: 0.6s;
}
.nav-btn:hover {
    background-color: var(--color-secondary);
}

/* Cover */

.hero{
    position: relative;
    font-style: var(--font-family1);
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: var(--color-text1);
    font-size: 42px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    letter-spacing: 2px;
}
.hero article{
    position: absolute;
    bottom: 15%;
    right: 10%;
    background-color: rgba(0, 86, 150, 0.7);
    color: var(--color-text1);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.hero article p{
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
.hero article img{
    display: block;
    float: right;
    margin: 5px 10px 5px 10px;
    width: 100px;
    height: auto;
}

/* Contenedor section */

.contenedor1{
    text-align: center;
    padding: 10px;
}
.contenedor1 h2{
    margin-bottom: 30px;
}
.contenido1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.contenido1 p{
    width: 30%;
    font-size: 18px;
}
.contenido1 img{
    max-width: 460px;
    height: auto;
}

/* Gallery section */

.gallery1{
    text-align: center;
    padding: 10px;
}
.gallery1 h2{
    margin-bottom: 30px;
}
.images1{
    display: flex;
    justify-content: center;
    gap: 30px;
    height: auto;
}
.item{
    text-align: center;
    width: 260px;
}
.item img{
    max-width: 100%;
    height: auto;
}
.item p{
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

/* footer */

.social-links{
    background-color: var(--color-primary);
    padding: 20px;
}
.net{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 12px;
}
.net img{
    width: 32px;
    height: auto;
    padding-top: 4px;
}