:root {
    /* Color */
    --color-primary: darkblue;
    --color-secondary: white;
    --color-border: black;
    --color-bg: #eee;
    --color-text: #333;
    --color-shadow: gray;
  
    /* Sizes */
    --size-img: 150px;
    --size-spacing: 1rem;
  
    /* Others */
    --border-style: 1px solid;
  }
  
nav{
    background-color: var(--color-primary);
    padding: 10px;
}
nav a{
    color: var(--color-secondary);
    display: block;
    padding: 10px;
}
h1{
    color: var(--color-primary);
}
main img{
    width: var(--size-img);
    height: auto;
}
img{
    width: var(--size-img);
    height: auto;
    border: var(--border-style) var(--color-border);
    padding: 2px;
    box-shadow: 0 0 30px var(--color-shadow);
}
p{
    padding: 0;
}
aside{
    width: 20rem;
    margin: var(--size-spacing);
    border: var(--border-style) rgb(0 0 0 / 0.2);
    padding: var(--size-spacing);
    background-color: var(--color-bg);
    color: var(--color-text);
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: var(--border-style) var(--color-border);
    text-align: center;
}
